* {
    margin: 0;
    padding: 0;
}

/* Common Shared Styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 33px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

/* header related styles */

.flower-shop-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 97px; */
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 120px 0px 120px;

}

.flower-shop-banner-content {
    max-width: 700px;
}

.flower-shop-banner-title {
    color: #272727;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;

}

.flower-shop-banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

.flower-shop-banner-content .btn-primary {
    margin-bottom: 32px;
}

.flower-shop-banner .flower-banner-img {
    width: 600px;
}


/* main section styles */

/* sale of section style */
.sale-off {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* height: 620px; */
    padding: 100px 220px 100px 240px;
}

.sale-off-content {
    max-width: 500px;
    text-align: center;

}

.sale-off-title {
    color: #272727;
    font-size: 33px;
    font-weight: 800;

}

.sale-off-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

.sale-off-content .btn-primary {
    text-align: center;
    margin-bottom: 32px;
}

.sale-off .flower-banner-img {
    width: 300px;
}

/* instagram section related style */

.instagram {
    margin-top: 80px;
}

#instagram-description {
    padding: 20px 492px;
}

.flowers-container {
    display: flex;
    justify-content: center;
    gap: 14px;

}

.flowers {
    width: 280px;
}

/* Deals section related style */
.deal {
    text-align: center;
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: 1170px;
    margin: 80px 176px 80px 176px;
    padding: 120px 130px;
}

.deal-description {
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="email"],
input[type="email"]::placeholder {
    width: 30%;
    padding: 28px;
    padding-right: 200px;
    margin: 28px 0;
    border: 0;
    text-align: right;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;

}

/* footer portion related styles */
footer {
    background: #111010;
    margin-top: 25px;
    padding: 80px 524px;
    text-align: center;
}

.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
}