* {
    margin: 0;
    padding: 0;
}

/* Common Shared Styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 33px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.header-title,
.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

/* header and nav bar related styles */
.header>nav {
    background-color: #3a5a4d;
    background-image: url("../Flower Asset/sitepic.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80px; 
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px
}
nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(158, 230, 230);
        

}
nav a:hover{
    color: rgba(201, 63, 228, 0.767);
}


.flower-shop-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 120px 0px 120px;

}

.flower-shop-banner-content {
    max-width: 675px;
}

.flower-shop-banner-title {
    color: #272727;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;

}

.flower-shop-banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

.flower-shop-banner-content .btn-primary {
    margin-bottom: 32px;
}

.flower-shop-banner .flower-banner-img {
    width: 530px;
    height: 720px;
}


/* main section styles */

/* Featured flower section starts from here */


.featured-flower-section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.featured-section-description {
    max-width: 506px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 500px;
}

.featured-flower {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.featured-flower-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 320px;
    width: 215px;
    text-align: center;
    padding: 100px 75px 0 75px;

}

.flower-img-1 {
    width: 210px;
    height: 320px;
}

.featured-flower-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 260px;
    width: 260px;
    text-align: center;
    padding: 110px 45px 50px 45px;
}

.flower-img-2 {
    width: 270px;
    height: 265px;
}

.featured-flower-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 328px;
    width: 210px;
    text-align: center;
    padding: 92px 74px 0 74px;
}

.flower-img-3 {
    width: 210px;
    height: 328px;
}

.flower-img-tag-1,
.flower-img-tag-3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    line-height: 75px;
    text-decoration-line: underline;
}

.flower-img-tag-2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    line-height: 160px;
    text-decoration-line: underline;
}

/* Delivery and Support section related style */

.delivery-container {
    max-width: 750px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.delivery-content {
    text-align: center;
    padding: 50px;
}

.delivery-img {
    width: 70px;
    height: 70px;
}

.delivery-info {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
}

/* sale off!! section related style */
.sale-off {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    padding: 90px 220px 90px 240px;
}

.sale-off-content {
    max-width: 500px;
    text-align: center;

}

.sale-off-title {
    color: #272727;
    font-size: 33px;
    font-weight: 800;

}

.sale-off-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

.sale-off-content .btn-primary {
    text-align: center;
    margin-bottom: 32px;
}

.sale-off .flower-banner-img {
    width: 300px;
}

/* instagram section related style */

.instagram {
    margin-top: 80px;
}

#instagram-description {
    padding: 20px 492px;
}

.flowers-container {
    display: flex;
    justify-content: center;
    gap: 14px;

}

.flowers {
    width: 280px;
}

/* Deals section related style */
.deal {
    text-align: center;
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: 1170px;
    margin: 80px 176px 80px 176px;
    padding: 120px 130px;
}

.deal-description {
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="email"],
input[type="email"]::placeholder {
    width: 35%;
    padding: 12px;
    padding-right: 200px;
    margin: 28px 0;
    border-radius: 5px;
    border: 0;
    text-align: right;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;

}

.deal-btn-primary {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 22px;
    margin-left: 8px;
}

/* footer portion related styles */
footer {
    background: #111010;
    margin-top: 25px;
    padding: 80px 524px;
    text-align: center;
}



.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
}